.transactions {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}
.transactionsThead {
  background-color: rgb(58, 57, 57);
  color: white;
  font-weight: 700;
  text-transform: capitalize;
}
.transactions th,
.transactions td {
  border: 2px solid black;
  padding: 5px;
}

.item:nth-child(2n) {
  background-color: gray;
}
.item td:first-child {
  text-transform: capitalize;
}
